<div class="modal-container" [ngClass]="{'hidden': !showModal}">
  <div class="left-control" (click)="prevSlide(true)"></div>
  <div class="right-control" (click)="nextSlide(true)"></div>
  <div class="modal">
    <img *ngIf="modalImage" [src]="modalImage.url" alt="">
  </div>
  <div class="overlay" (click)="closeModal()"></div>
</div>

<div class="gallery-component">
  <div class="g-wrapper">
    <div class="g-title"><h1>Angular gallery</h1></div>
    <div class="g-head clear">
      <form [formGroup]="galleryFilters">
        <div class="g-group-elem">
          <label for="g-display">Display per page</label>
          <select formControlName="perPage" id="g-display">
            <option *ngFor="let elem of displayPerPage" [ngValue]="elem">{{elem}}</option>
          </select>
        </div>
        <div class="g-group-elem">
          <label for="g-sort">Sort by</label>
          <select id="g-sort" formControlName="sortBy">
            <option *ngFor="let elem of sortBy" [ngValue]="elem">{{elem}}</option>
          </select>
        </div>
        <div class="g-group-elem">
          <label for="g-search">Search by title</label>
          <input type="text" id="g-search" formControlName="search" placeholder="Enter title here">
        </div>
      </form>
    </div>
    <div class="g-container">
      <div class="g-item" *ngFor="let image of displayedImages;let i = index;" (click)="displayModal(image , i)">
        <div class="g-delete" (click)="removeItem(image, $event)">X</div>
        <div class="g-img" [style.background-image]="'url(' + image.url + ')'"></div>
        <div class="g-describe">
          <p>{{image.title}}</p>
          <p>{{image.date}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="pagination && pagination.totalPages > 1" class="g-pagination">
      <div *ngIf="pagination.displayLeftDots" class="g-pag-bloc disabled">...</div>
      <div class="g-pag-bloc" *ngFor="let pag of pagination.displayPages" (click)="changePage(pag)"
           [ngClass]="{'active': pagination.activePage !== pag}">{{pag}}
      </div>
      <div *ngIf="pagination.displayRightDots" class="g-pag-bloc disabled">...</div>
    </div>
  </div>
</div>

