.modal-container {
  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }

  .left-control, .right-control {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0 0 3px #000;

    &:hover {
      opacity: 1;
    }
  }

  .left-control {
    background: #fff url('/assets/img/prev.png') no-repeat center center;
    left: 0;
  }

  .right-control {
    background: #fff url('/assets/img/next.png') no-repeat center center;
    right: 0;
  }

  .modal {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    background: white;
    text-align: center;
    box-shadow: 0 0 2px 1px black;
    z-index: 10;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
}

.gallery-component {
  background: #f8f8f8;
  width: 100%;

  .clear:after {
    display: table;
    content: '';
    clear: both;
  }

  .g-wrapper {
    margin: 0 50px;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .g-title {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .g-head {
    height: 40px;

    .g-group-elem {
      margin-right: 20px;
      float: left;

      label {
        margin-right: 10px;
      }
    }
  }

  .g-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;

    .g-item {
      position: relative;

      .g-delete {
        color: #000;
        border-radius: 50%;
        border: 1px solid #000;
        position: absolute;
        left: 5px;
        top: 5px;
        background: #fff;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        display: none;
        font-size: 10px;
        font-weight: 600;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      &:hover {
        .g-delete {
          display: block;
        }

        .g-describe {
          opacity: 1;
        }
      }

      .g-img {
        width: 350px;
        height: 250px;
        background-size: cover;
      }

      .g-describe {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        background: rgba(255, 255, 255, 0.6);
        opacity: 0;
        transition: all 0.3s;
        text-align: center;
        padding: 15px;

        p {
          margin-bottom: 7px;
        }
      }

    }
  }

  .g-pagination {
    text-align: center;
    margin: 20px 0;

    .g-pag-bloc {
      height: 35px;
      width: 30px;
      background: #fff;
      line-height: 35px;
      padding: 0 5px;
      font-size: 15px;
      display: inline-block;
      border-radius: 6px;
      margin: 0 10px;
      border: 1px solid green;

      &.disabled {
        border: 1px solid #000;
        background: #f4f4f4;
        opacity: 0.6;
      }

      &.active {
        border: 1px solid #000;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
